<h1> My Tasks </h1>
<% @tasks.each do |task| %>
<h5> <% if task.completed %>
     <%="â˜‘"%>
<% else %>
     <%=" â–«ï¸"%>
<% end%> <%= link_to task.title, task_path(task)%> <%= link_to "ðŸ—‘",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </h5>
<%end%>


<h5> <%= link_to '+ Add a new task', tasks_new_path %> </h5>
